body{
    background:black;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
}



.title{
    color:white;
    margin-top:30px;
}



.back-btn{
    color:orange;
    text-decoration:none;
    font-size:18px;
}

.back-btn:hover{
    text-decoration: none;
}



.cart-container{
    width:60%;
    margin:auto;
    margin-top:30px;
    background:#111;
    padding:25px;
    border-radius:10px;
}



.cart-items{
    margin-bottom:20px;
}



.total{
    color:orange;
    margin:20px 0;
}



.order-btn{
    background:orange;
    border:none;
    padding:12px 25px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

.order-btn:hover{
    background:#ff9500;
}



.checkout{
    display:none;
    margin-top:30px;
}

.checkout input{
    width:250px;
    padding:10px;
    border:none;
    border-radius:6px;
}

.checkout button{
    background:orange;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
     background-color:#ff9500;
}

button{
    border-radius: 8px;
}